{
  "presets": [
    [
      "@babel/env",
      {
        "loose": true,
        "targets": {
          "browsers": ["last 2 versions", "ie >= 11"],
          "node": "current"
        }
      }
    ],
    "@babel/react",
    "@babel/stage-0"
  ],
  "plugins": [
    "babel-plugin-add-module-exports",
    [
      "babel-plugin-styled-components",
      {
        "displayName": false,
        "ssr": true
      }
    ],
    [
      "babel-plugin-module-resolver",
      {
        "root": ["src"]
      }
    ]
  ]
}
